
html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem; 
}
:root {
    --clr-blue-300: #7db0de;
    --clr-blue-500: #1d5c96;
    --clr-blue-700: #12395d;
    --clr-white: #f0f8ff;
    --clr-numbers: #00ffff;
  
    --transition: 500ms ease;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Genos', sans-serif;
}

body {
    background-color: var(--clr-blue-300);
    min-height: 100vh;
    overflow-x: hidden;
}

